<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">ISTAD</title>
    <th:block th:replace="fragment/style"></th:block>
    <link href="https://istad.co/resources/img/logo_md.png" rel="shortcut icon">
</head>
<body>
    <div th:replace="fragment/header"></div>
    <div th:replace="fragment/main-content">
        <!--placeholder-->
    </div>
    <div th:replace="fragment/footer"></div>
</body>
</html>