<section xmlns:th="http://www.thymeleaf.org">
    <div
            th:fragment="card-view-user (uuid,name,description,img,posts)"
            class="card" style="width: 18rem; border: 1px solid darkgrey;border-radius: 10px ;overflow: hidden">
        <img
                th:src="@{http://localhost:8080/files/{img}(img=${img})}"
             class="card-img-top"
             alt="..."
             style="height: 200px;width: 100%"
        >
        <div class="card-body">
            <h5 class="card-title" th:text="${name}"></h5>
            <p class="card-text " th:text="${description}" style="height: 100px; overflow: hidden ;
      text-overflow: ellipsis;"></p>
            <a th:href="@{http://localhost:8080/user-view/{uuid}(uuid=${uuid})}" class="btn btn-primary">View Profile</a>
        </div>
    </div>
    <div
            th:fragment="card-post (uuid,title,profile,description,img)"
            class="card" style="width: 18rem; border: 1px solid darkgrey;border-radius: 10px ;overflow: hidden">
            <img
                    th:src="@{http://localhost:8080/files/{img}(img=${img})}"
                 class="card-img-top"
                 alt="..."
                 style="height: 200px;width: 100%"
            >
            <div class="card-body">
                <h5 class="card-title" th:text="${title}"></h5>
                <p class="card-text " th:text="${description}" style="height: 100px; overflow: hidden ;
          text-overflow: ellipsis;"></p>
                <a href="#" class="btn btn-primary">View Profile</a>
            </div>
    </div>
</section>