<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary " style="padding-left: 200px">
    <a class="navbar-brand font-weight-bold" href="http://localhost:8080/view-post">ISTAD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " style="font-size: 20px" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:8080/view-post">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/user-view">User</a>
        </li>
      </ul>
    </div>
  </nav>
</header>