<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/master-layout}"
>

<head>
  <meta charset="UTF-8">
  <title>USER</title>
  <style>
    form{ margin-top: 30px;
      height: 500px;
      background-color: white;
    }
    .col-4,.col-8{
      height: 500px;
    }
    .col-4 .img-box{
      height: 350px;
      width: 100%;
    }
    label{
      font-size: 20px;
      font-weight: bold;
    }
  </style>
</head>
<body>

  <main layout:fragment="main-content">
    <form class="container" th:object="${post}" method="post" th:action="@{http://localhost:8080/update-post/{id}(id=${id})}" enctype="multipart/form-data">
      <div class="row">
        <div class="col-4">
          <img class="img-box"  id="preview" th:src="@{http://localhost:8080/files/{imgPost}(imgPost=${post.image})}">
          <input th:field="*{image}"  hidden="hidden">
          <input class="form-control" type="file" name="thumbnail"  id="thumbnail" onchange="previewImage(event)" >
          <button type="submit" class="btn btn-primary mt-5">Save</button>
        </div>
        <div class="col-8">
          <label>Title : </label>
          <input placeholder="Enter title" type="text" class="form-control" th:field="*{title}">
          <label>Description : </label>
          <textarea placeholder="Enter description" th:field="*{description}" type="text" class="form-control"  id="description" rows="3" > </textarea>
          <div class="flex">
            <label>Author : </label>
            <select class="form-select form-control" name="userId" >
              <option th:each="user :${users}"   th:value="${user.getUuid()}" th:text="${user.name}"></option>
            </select>
            <label>Category : </label>
            <select name="categoryID" class="form-select form-control" multiple aria-label="multiple select" required  >
              <option th:each="category :${categories}"  th:value="${category.getUuid()}" th:text="${category.title}" ></option>
            </select>
          </div>
        </div>
      </div>
    </form>
    <script  th:inline="javascript">
      function previewImage(event) {
        const input = event.target;
        if (input.files && input.files[0]) {
          const reader = new FileReader();
          reader.onload = function(e) {
            const previewImage = document.getElementById('preview');
            previewImage.src = e.target.result;
          };
          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>
  </main>

</body>
</html>